.ui.borderless.topmenu.menu{
  box-shadow: none;
}
.ui.basic.button.dropdown{
  margin-bottom:10px;
  margin-top: 10px;
  margin-left: 30px;
  padding-right: 0px;
  font-size: 16px;
  text-align: center;
  width: 210px;
}


.smaller{
  width: 150px;
  height: 60px;
}



.big-text{
  font-size:20px;
  width: 550px;
  line-height: 30px;
  padding-bottom: 20px;
}

.ui.big.button{
  paddiing:;
  background-color: #3f46ad;
  width:150px;
  color:white;
  font-size: 14px;
}

.big-bold-text{
  font-weight: bolder;
  font-size: 77px;
  padding-bottom:20px;
  line-height: 90px;
}

.white-background {
  background-color: white;
  background-size: cover;
  height: 200px;
}