.ui.borderless.topmenu.menu{
  box-shadow: none;
}
.ui.basic.button.dropdown{
  margin-bottom:10px;
  margin-top: 10px;
  margin-left: 30px;
  padding-right: 0px;
  font-size: 16px;
  text-align: center;
  width: 210px;
}

.smaller{
  width: 150px;
  height: 60px;
}

.big-text{
  font-size:20px;
  width: 550px;
  line-height: 30px;
  padding-bottom: 20px;
}

.ui.big.button{
  background-color: #3f46ad !important;
  width:150px;
  color:white !important;
}
.ui.big.button:hover {
  background-color: #3f46ad !important;
  width: 150px;
  color: white;
}

.ui.big.basic.button{
  color: #3f46ad !important;
  width:200px;
}
.ui.big.basic.button:hover {
  width: 200px;
  color: #3f46ad !important;
}

.big-bold-text{
  font-weight: bolder;
  font-size: 77px;
  padding-bottom:20px;
  line-height: 90px;
}


.medium-bold-text{
  font-weight: bolder;
  font-size: 32px;

}


.grey-background {
  background-color: #ebebeb;
  background-size: cover;
}


.white-background {
  background-color: white;
  background-size: cover;
  height: 200px;
}